.create-class-btn {
  background: #3f8cfe;
  -webkit-animation: glowing 3.5s infinite;
  animation: glowing 3.5s infinite;
}
@keyframes glowing {
  0% {
    background-color: #156fff;
    box-shadow: 0 0 3px rgb(63 140 255 / 70%);
  }

  50% {
    background-color: #3e82fc;
    box-shadow: 0 0 30px rgb(63 140 255 / 70%);
  }
  100% {
    background-color: #156fff;
    box-shadow: 0 0 3px rgb(63 140 255 / 70%);
  }
}
