@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .box-shadow {
    box-shadow: 6px 5px 40px rgba(0, 8, 28, 0.05) !important;
  }
}
.ant-steps-icon {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}
.ant-modal-content {
  border-radius: 15px !important;
  padding: 15px 30px 35px;
}
.ant-modal-close-x {
  width: 36px !important;
  height: 36px !important;
  display: none !important;
}
